.gm_pv_container_list_products {
    max-width: 1300px;
    margin: 50px auto;
}

.gm_pv_container_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gm_pv_product {
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0,0,0,.25);
    transform: scale(1);
    transition: transform 500ms, box-shadow 500ms, border 500ms;
}

.gm_pv_product:hover {
    border: 1px solid lightgrey;
    transform: scale(1.1);
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
}

.gm_pv_container_title {
    padding-top: 10px;
}

.gm_pv_container_title h4 {
    text-align: center;
}

.gm_pv_container_video {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center!important;
    background-size: cover!important;
    border-radius: 5px;
}

.gm_pv_preview_video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gm_pv_preview_video img {
    height: fit-content;
    width: 50px;
}

.gm_pv_container_video iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.gm_pv_header {
    margin-bottom: 15px;
}

.gm_pv_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.gm_pv_product:hover .gm_pv_description {
    visibility: visible;
    opacity:100%;
    transition:opacity 1s;
}

.gm_pv_description p {
    width: auto;
    font-size: 16px;
    height: fit-content;
    margin-right: 10px;
}

.gm_pv_description a {
    margin-right: 5px;
}

.gm_pv_description img {
    width: 35px;
}

.gm_pv_title_mobile {
    display: none;
}

@media (max-width: 1300px) {
    .gm_pv_container_list_products {
        padding: 0 50px;
    }
}

@media (max-width: 991px) {
    .gm_pv_product {
        width: 48%;
    }
}

@media (max-width: 767px) {
    .gm_pv_container_list_products {
        padding: 0 30px;
    }

    .gm_pv_product {
        width: 100%;
        transform: unset;
        transition: unset;
        margin-bottom: 0;
    }

    .gm_pv_product:hover .gm_pv_description,
    .gm_pv_description {
        visibility: visible;
        opacity:100%;
        transition:unset;
    }

    .gm_pv_product:hover {
        border: unset;
        transform: unset;
        box-shadow: unset;
    }

    .gm_pv_title_mobile {
        display: block;
    }

    .gm_pv_title_desktop {
        display: none;
    }
}